.MapContainerSec{
    background-image: url("../../Assets/Images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.MapImg{
    width: 800px;
    height: 800px;
}

.MapContainer{
    margin-top:120px;
    margin-bottom:50px;
}

.NetworkTitle{
    font-size: 32px;
    text-align: center;
    margin-top:10px;
    margin-bottom:30px;
}



@media (max-width:768px){
    .MapImg {
        width: 100%;
        height: 300px;
    }

    .MapContainer {
        margin-top: 10px;
        margin-bottom: 30px;
    }


}


