.StartScreen{
    height: 100vh;
    width: 100vw;
    background-image: url("../../Assets/Images/StartScreen.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImgStart{
    height: 300px;
    width: 300px;
}
.StartScreenMainSec{
    text-align: center;
}
.buttonSection{
    margin-top:25px;
}


/* 
  .text-stroke  {
    font-size: 64px;
    font-weight: 700;
    color: #3a3a3a;
    text-align: center;
    font-family: 'Georgia', serif;
  

   
    text-shadow: 5px 2px 0px rgba(184, 180, 180, 0.8);  
  } */
  
  .text-stroke  {
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: 550;
    font-stretch: condensed;
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(145deg, #f6f6f4, #afb3b6, #7f8386);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.5), 0.4px -1px 0 rgba(0, 0, 0, 1.3), 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 8px rgba(255, 255, 255, 0.1);
}




  @media (max-width:768px){
    .logoImgStart {
        height: 200px;
        width: 200px;
    }

    

    .text-stroke  {
        font-size: 25px;
        margin:10px 0;
        letter-spacing: 2px;
        font-weight: 550;
        font-stretch: condensed;
        text-align: center;
        font-family: sans-serif;
        background: linear-gradient(145deg, #f6f6f4, #afb3b6, #7f8386);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5), 0.4px -1px 0 rgba(0, 0, 0, 1.3), 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 8px rgba(255, 255, 255, 0.1);

         }
    



    

  }
  
