.StartScreen{
    height: 100vh;
    width: 100vw;
    background-image: url("../../Assets/Images/StartScreen.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImgStart{
    height: 300px;
    width: 300px;
}
.StartScreenMainSec{
    text-align: center;
}
.buttonSection{
    margin-top:25px;
}



  .text-stroke  {
    font-size: 64px;
    font-weight: 700;
    color: #3a3a3a;
    text-align: center;
    font-family: 'Georgia', serif;
  
    /* The embossed magic: two light and dark shadows */
   
    text-shadow: 5px 2px 0px rgba(184, 180, 180, 0.8);  /* top-left highlight (light) */
  }
  

  @media (max-width:768px){
    .logoImgStart {
        height: 200px;
        width: 200px;
    }
    .text-stroke {
        font-size: 25px;
        margin:10px 0;
    }
  }
  
