.StartScreen{
    height: 100vh;
    width: 100vw;
    background-image: url("../../Assets/Images/StartScreen.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImgStart{
    height: 400px;
    width: 400px;
}
.StartScreenMainSec{
    text-align: center;
}
.buttonSection{
    margin-top:25px;
}

.text-stroke {
    font-size: 60px;
  font-weight: bold;
  background-image: linear-gradient(90deg, rgb(74, 73, 73),gray);
  -webkit-background-clip: text;   /* Clip the gradient to the text */
  -webkit-text-fill-color: transparent;  /* Make the text transparent to show gradient */
  background-clip: text; /* For Firefox (optional, partial support) */

  }
