.HeroSection{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Assets//Images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    
}


.embossed {
    font-size: 64px;
    font-weight: 700;
    color: #3a3a3a;
    text-align: center;
    font-family: 'Georgia', serif;
  
    /* The embossed magic: two light and dark shadows */
   
    text-shadow: 5px 2px 0px rgba(184, 180, 180, 0.8);  /* top-left highlight (light) */
  }



.HeroHeading {
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to bottom,rgb(128,128,128) ); /* top to bottom */
    -webkit-background-clip: text;   /* Clip gradient to text */
    -webkit-text-fill-color: transparent;  /* Show gradient in text */
    background-clip: text; /* For Firefox */
  }



@media (max-width:768px){
    .HeroHeading {
        color: white;
        font-size: 19px;
        font-weight: 900;
        text-align: center;
    }
    .text-Section{
        width: 90% !important;
    }

    .HeroSection {
        height: 40vh;
        padding: 0px;
    }
}