.HeroSection{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Assets//Images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}

.HeroHeading{
    color: white;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
}

@media (max-width:768px){
    .HeroHeading {
        color: white;
        font-size: 19px;
        font-weight: 900;
        text-align: center;
    }
    .text-Section{
        width: 90% !important;
    }

    .HeroSection {
        height: 40vh;
    }
}