.AboutSection{
    height: auto;
    padding:200px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Assets//Images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}
.titleAbout {
    font-size: 30px;
    font-weight: 700;
    color:white;
    text-align: center;
}

.AboutHeading{
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

@media (max-width:768px){
    .AboutHeading {
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
    }

    .title{
        font-size: 20px;
        font-weight: 700;
        color:rgb(219, 52, 52);
        text-align: center;
    }
    .AboutSection{
        padding: 25px 0;
    }
}