/* Navbar Base */
.custom-navbar {
  background: transparent; /* fully transparent */
  position: absolute;
  width: 100%; /* full width */
  padding: 0.8rem 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1000;
}


/* .logoText  {
  font-size: 14px;
  font-weight: 400;
  color: #3a3a3a;
  text-align: center;
  font-family: 'Georgia', serif;
  text-shadow: 2px 1px 0px rgba(184, 180, 180, 0.8); 
} */


.logoText {
  margin-left: 3px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 550;
  font-stretch: condensed;
  text-align: center;
  font-family: sans-serif;
  background: linear-gradient(145deg, #f6f6f4, #afb3b6, #7f8386);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5), 0.4px 0px 0 rgba(0, 0, 0, 1.3), 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 8px rgba(255, 255, 255, 0.1);
}

/* Logo */
.logoImg {
  height: 80px;
  width: 80px;
}


/* Brand */
.custom-navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.6rem;
  color: white;
}

/* Navbar Links */
.custom-navbar .nav-link {
  color: white !important;
  margin: 0 1rem;
  transition: all 0.3s ease;
}

.custom-navbar .nav-link:hover {
  color: #d61b1b !important;
  transform: scale(1.1);
}

/* Center menu items on large screens */
@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* Hamburger icon color */
.navbar-dark .navbar-toggler-icon {
  filter: invert(1);
}

/* Mobile menu links */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    background: rgba(0,0,0,0.3); /* optional slight transparency */
    border-radius: 8px;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
  }
  .nav-link {
    margin: 0.5rem 0;
  }

  

  .navbar{
    background: black;
  }
  .custom-navbar {
    position: inherit;
  }
  .navbar-toggler{
    background-color: white;
  }
}

@media (max-width:768px){
  .logoImg {
    height: 50px;
    width: 50px;
}

.logoText {
  font-size: 10px;
}
}