/* ========== Footer Styles ========== */
.footer {
  background-color: #000;
  color: #fff;
  padding: 70px 0 30px;
  font-family: "Poppins", sans-serif;
  border-top: 6px solid #b11414;
}
 .quickColumn{
  width: 75%;
 }
 .NewsLetterColumn{
  width: 75%;
 }

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footerSec1{
  text-align: center;
}

.footer a:hover {
  color: #ff0000;
}

/* ===== Titles ===== */
.footer-title {
  
  color: #ff0000;
  font-weight: 700;
  margin-bottom: 18px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ===== Links ===== */
.footer-links {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
  transition: transform 0.2s ease;
}

.footer-links li:hover {
  transform: translateX(5px);
}

/* ===== Newsletter ===== */
.newsletter-form {
  /* float: left; */
  justify-content: left;
  display: flex
;
  border: 1px solid #444;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
}
.newsletter-form input {
  flex: 1;
  padding: 10px 5px;
  border: none;
  font-size: 0.95rem;
  outline: none;
}
.AddressColumn{
  text-align: center;
}
.newstitle{
  text-align: center;
}
.newsletter-form button {
  padding: 10px 20px;
  border: none;
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #cc0000;
}

/* ===== Divider & Bottom ===== */
.footer-hr {
  border: none;
  border-top: 1px solid #ff0000;
  margin: 40px 0 25px;
}

.footer-bottom {
  font-size: 14px;
  opacity: 0.9;
  letter-spacing: 0.5px;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .footer {
    padding: 40px 0 20px;
  }

  .AddressColumn {
    width: 80%;
    text-align: center;
    margin: auto;
}


  .footer-title {
    font-size: 1rem;
  }
  
  .quickColumn {
    width: auto;
}
  .newsletter-form {
    flex-direction: column;
    max-width: 100%;
  }
  .NewsLetterColumn {
    margin: 0px auto;

    justify-content: cc;
    width: 80%;
}

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
    border-radius: 0;
  }

  .footer-bottom {
    font-size: 12px;
  }
}
