.MissionSection{
    padding-top:200px;
    padding-bottom:200px;
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Assets//Images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}

.title{
    font-size: 30px;
    font-weight: 700;
    color:white;
    text-align: left;
}
.liText{
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}


.MissionHeading{
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.subheading{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

@media (max-width:768px){
    .MissionHeading {
        color: white;
        font-size: 15px;
        font-weight: 700;
    }

    .MissionSection {
        height: auto;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .MissionHeading {
        color: white;
        font-size: 15px;
        font-weight: 400;
        text-align: justify;
    }
    .title{
        font-size: 20px;
        font-weight: 700;
        color:white;
        text-align: left;
    }
    .subheading {
     font-size: 20px;
    }
    .liText{
        font-size: 14px;
        font-weight: 400;
    }
    
}